<html>
  <head>
    <title>Spot Database</title>
  </head>
  <body>
    <h1>Spot Database</h1>
    <form method="POST" action="/stats/new">
      <input id="id_new_first_name" name="first_name" placeholder="Enter your first name"/>
      <input id="id_new_last_name" name="last_name" placeholder="Enter your last name"/>
      <input id="id_new_dog_name" name="dog_name" placeholder="Enter your dog's name"/>
      <input type="submit" id="id_submit" name="submit_stats" placeholder="Click to Continue"/> 
      {% csrf_token %}
    </form>
    <table id="id_owner_table">
      <tr><td>Owner: {{ new_first_name }} {{new_last_name}}</td></tr>
      <tr><td>Dog: {{ new_dog_name }}</td></tr>
    </table>
  </body>
</html>
